 body {
            background: #dddddd;
        }
        #canvas {
            margin: 20px;
            padding: 20px;
            background: #ffffff;
            border: thin inset #aaaaaa;
            width: 600px;
            height: 300px;
        }
    h3{
                font-family:sans-serif;
                font-size:-webkit-xxx-large;
                text-align:center;
                color:brown;
        }
        p{
                font-size:larger;
                text-align:center;
                color:chocolate;
        }
